[Unit]
Description=HP Scan To (300 dpi)

[Service]
User=hpscanto
Group=hpscanto
WorkingDirectory=/home/hpscanto/node-hp-scan-to
ExecStart=/home/hpscanto/.nvm/versions/node/v18.12.1/bin/node dist/index.js -ip HP40472D -d /mnt/paperless/consume/ -p '"scan"_yyyy-mm-dd_HH.MM.ss' --suffix _300 -r 300

[Install]
WantedBy=multi-user.target
